.catalogContainer {
    padding: 20px;
    background-color: #f9f9f9; /* Yengil fon rangi */
    border-radius: 8px; /* Burchaklarni yumshatish */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Yumshoq soyalar */
}

.headerText {
    font-size: 24px;
    color: #333; /* Qora rang */
    margin-bottom: 15px;
}

.documentList {
    list-style-type: disc; /* Ro'yxat uchun nuqtalar */
    padding-left: 20px;
}

.linkText {
    display: inline-block; /* Inline-block holatiga o'tkazish */
    margin-top: 20px; /* Yuqoridan bo'sh joy */
    padding: 10px 15px; /* Ichki bo'sh joy */
    background-color: #0070f3; /* Ko'k rang */
    color: white; /* Oq rang */
    text-decoration: none; /* Chiziqni olib tashlash */
    border-radius: 5px; /* Burchaklarni yumshatish */
    transition: background-color 0.3s ease; /* O'zgarish effektlari */
}

.linkText:hover {
    background-color: #005bb5; /* Hover holatida rang o'zgarishi */
}